<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>采集文章</title>
  <link rel="stylesheet" href="/public/static/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/public/static/css/bootstrap.min.css"/>
  <script src="/public/static/js/jquery.min.js"></script>
  <script src="/public/static/layer/layer.js"></script>
</head>
<style>
	.tab-content{margin-top:10px;}
	.form-horizontal{margin:15% auto;width:1100px;}
	.btn-block{width:40%;font-size:20px;}
	span{color:red;}
	.layui-layer2{width:auto;}
	.layui-layer-content{max-height:500px;}
</style>
<body>
<div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">基本管理</strong>/<small>采集文章</small></div>
    </div>
	<div id="myTabContent" class="tab-content">
	   <div class="tab-pane fade in active" id="info">
	   <div class="tab-content"><div class="alert alert-success">在这里，您可以设置采集文章的信息</div></div>
	     <form class="form-horizontal" role="form">
	      <div class="form-group">
		      <label for="firstname" class="col-sm-2 control-label"><span>*</span>选择栏目</label>
		      <div class="col-sm-6">
		         <select class="form-control" name="cid" id="cid">
		         	<foreach name="column" item="vo">
		         		<option value="{$vo.id}"><?php echo str_repeat('—',$vo['level'])?>{$vo.name}</option>
		         	</foreach>
		         </select>
		      </div>
		   </div>
		   <div class="form-group">
		      <label for="firstname" class="col-sm-2 control-label"><span>*</span>采集页面的链接</label>
		      <div class="col-sm-6">
		         <input type="text" class="form-control" id="url" placeholder="采集页面的链接" value="">
		      </div>
		   </div>
		   
		  	<div class="col-sm-offset-2 col-sm-10">
		        <button type="button" class="btn btn-primary btn-lg btn-block info">提交</button>
		    </div>
		</form>
	   </div>
	</div>
</div>
</body>
</html>
<script>
	
	$('.info').click(function(){
		var _this = $(this);
		var cid = $('#cid').val();
		var collect_url = $('#url').val();
		var id  = "{$id}";
		var url = "{:url('Collect/doCollectArticle')}";
		
		var loadIndex = layer.msg('正在玩命采集中,请耐心等待...', {
					icon: 16,
					time:100000000000
		});
	
		$(this).attr("disabled", true); 
		$.post(url,{cid:cid,id:id,url:collect_url},function(data){
			if(data.code == '10004'){
				 layer.close(loadIndex);
				 _this.removeAttr("disabled");; 
      		 	 layer.tips(data.msg, "#"+data.data.name);
	       	 }else if(data.code == '10000'){
	       		_this.removeAttr("disabled");; 
	       		layer.close(loadIndex);
	       		var str = '<ul style="list-style:none;">';
	       		for(var i=0 ;i<data.data.length;i++){
	       			str += "<li>"+data.data[i]+"</li>";
	       		}
	       		str += "</ul>";
	       		
	       		layer.alert(str, {
					  skin: 'layer-ext-moon',
					  area:['auto', 'auto'],
					  closeBtn: 0
					}, function(){window.location.href="{:url('Article/index')}"});
	       	 }else{
	       		_this.removeAttr("disabled");; 
	       		 layer.msg(data.msg);
	       	 }
		})
	})
</script>