<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>采集规则列表</title>
  <link rel="stylesheet" href="/public/static/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/public/static/css/bootstrap.min.css"/>
  <script src="/public/static/js/jquery.min.js"></script>
  <script src="/public/static/layer/layer.js"></script>
</head>

<body>
<div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">基本管理</strong>/<small>采集规则列表</small></div>
    </div>
	<div class="tab-content">
            <div class="alert alert-success">在这里，您可以添加、编辑和采集文章</div>
     </div>
     <form class="well form-search">
            <a href="{:url('Collect/addRule')}" class="btn btn-primary">添加采集规则</a>             
     </form>
    <div class="am-g">
     <div class="am-u-sm-12">
        <table class="am-table am-table-bd am-table-striped admin-content-table">
          <thead>
          
          <tr>
            <th width="5%">ID</th>
            <th width="5%">采集站点</th>
            <th width="20%">标题规则</th>
            <th width="20%">内容规则</th>
            <th width="5%">采集页数</th>
            <th width="5%">类型</th>
            <th width="20%">操作</th>
          </tr>
          </thead>
          <tbody>
		  <foreach name="rule" item="vo">
          <tr>
          <td>{$vo.id}</td>
          <td>{$vo.site}</td>
          <td>{$vo.title_rule|htmlspecialchars=###}</td>   
          <td>{$vo.content_rule|htmlspecialchars=###}</td>
          <td>{$vo.page_num}</td>
          <td>{$vo.is_page == 1 ? "单页" : "分类"}</td>
          <td>
            <a class="_add am-btn am-btn-primary am-btn-xs" href="{:url('Collect/collectArticle',array('id'=>$vo['id']))}">&nbsp;采集文章</a>
            <a class="_edit am-btn am-btn-success am-btn-xs" href="{:url('Collect/editRule',array('id'=>$vo['id']))}"><span class="am-icon-edit"></span>&nbsp;编辑</a>
            <a class="_del am-btn am-btn-danger am-btn-xs" data="{$vo.id}" href="javascript:;"><span class="am-icon-trash"></span>&nbsp;删除</a>
          </td>
          </tr>
          </foreach>
          </tbody>
        </table>
      </div>
    </div>
	<div>{$rule->render();}</div>
  </div>
  <!-- content end --> 
</body>

</html>
<script>
$('._del').click(function(){
	var _this = $(this);
	var id = _this.attr('data');
	var url = '{:url("Collect/delRule")}';
	$.post(url,{id:id},function(data){
		if(data.code == "10000"){
			_this.parent('td').parent('tr').remove()
		}else{
			layer.msg(data.msg);
		}
	})
})
	
</script>