<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>后台菜单列表</title>
  <link rel="stylesheet" href="/public/static/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/public/static/css/bootstrap.min.css"/>
  <script src="/public/static/js/jquery.min.js"></script>
 <script src="/public/static/js/bootstrap.min.js"></script>
 <script src="/public/static/js/amazeui.min.js"></script>
 <script src="/public/static/layer/layer.js"></script>
</head>

<body>
<div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">基本管理</strong>/<small>后台菜单列表</small></div>
    </div>
	<div class="tab-content">
            <div class="alert alert-success">在这里，您可以添加、编辑和删除后台菜单</div>
     </div>
     <form class="well form-search">
            <a id="addmenu" class="btn btn-primary offsetright"  data-toggle="modal" data-target="#myModal" href="javascript:;">添加菜单</a>             
     </form>
    <div class="am-g">
      <div class="am-u-sm-12">
        <table class="am-table am-table-bd am-table-striped admin-content-table">
          <thead>
          <tr>
            <th>ID</th><th>菜单名称</th><th>菜单链接</th><th>功能状态</th><th>管理</th>
          </tr>
          </thead>
          <tbody>
          
          <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>

          </td> 
            <td>
            <a class="_edit am-btn am-btn-success am-btn-xs" data-toggle="modal" data=""data-target="#myModal" href="javascript:;"><span class="am-icon-edit"></span>&nbsp;编辑</a>
            <a class="_del am-btn am-btn-danger am-btn-xs" data="" href="javascript:;"><span class="am-icon-trash"></span>&nbsp;删除</a>
            </td>
          </tr>
          </foreach>
          </tbody>
        </table>
      </div>
    </div>
    <div id="m">
    	
    </div>
  </div>
  <!-- content end --> 
</body>

<div class="modal fade" id="myModal" role="dialog" aria-hidden="true"></div>
</html>
<script>

</script>