<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html>
<head>
<title>后台管理系统系统</title>
<meta http-equiv=Content-Type content=text/html;charset=UTF-8>
</head>
<frameset rows="55,*"  frameborder="NO" border="0" framespacing="0">
	<frame src="{:url('Common/top')}" noresize="noresize" frameborder="NO" name="topFrame" scrolling="no" marginwidth="0" marginheight="0" target="main" />
  <frameset cols="265,*" id="frame">
	<frame src="{:url('Common/left')}" name="leftFrame" noresize="noresize" marginwidth="0" marginheight="0" frameborder="0" scrolling="no" target="main" />
	<frame src="{:url('Common/main')}" name="main" marginwidth="0" marginheight="0" frameborder="0" scrolling="auto" target="_self" />
  </frameset>
<noframes>
    </noframes>
</html> 