<link rel="stylesheet" href="/public/static/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/public/static/css/column.css" />
<script src="/public/static/js/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
    $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
    $('.tree li.parent_li > span').parent('li.parent_li').find(' > ul > li').css('display','none');
    $('.tree li.parent_li > span').on('click', function (e) {
        var children = $(this).parent('li.parent_li').find(' > ul > li');
        if (children.is(":visible")) {
            children.hide('fast');
            $(this).attr('title', 'Expand this branch').find(' > i').addClass('glyphicon-plus-sign').removeClass('glyphicon-minus-sign');
        } else {
            children.show('fast');
            $(this).attr('title', 'Collapse this branch').find(' > i').addClass('glyphicon-minus-sign').removeClass('glyphicon-plus-sign');
        }
        e.stopPropagation();
    });
});
</script>
<div class="modal-dialog" >
 <div class="modal-content"style="height:400px;overflow-x:hidden;overflow-y:auto;">
            <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">添加组别成员</h4>
         </div>
         <form class="form-horizontal" action="{:url('Authmanager/addauthtogroup')}"  method="post" role="form" style="margin-top:10px;">
		   
		  <div class="form-group" style="margin-left:10px;">
	<div class="tree">
    	<ul>
    	<foreach name="column" item="vo">
        <li>
       		<input type="checkbox" class="top" name="menuId[]" value="{$vo['id']}" <if condition="$vo.status eq 1">checked</if>><span><i class="glyphicon glyphicon-plus-sign"></i>{$vo.menu_name}</span>
           <ul>
           		<foreach name="vo[$vo['id']]" item="v">
               		<li>
                		<input type="checkbox" name="menuId[]" value="{$v['id']}" <if condition="$v.status eq 1">checked</if>><span><i class="icon-time"></i>{$v.menu_name}</span>
               		</li>
               </foreach>
           </ul>
        </li>
        </foreach>
    </ul>
</div>
		   </div>
		   	<input type="hidden"  name="groupid" value="{$id}">
   			<div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="submit" class="btn btn-primary sub">确认</button>
         </div>
    </div>
</div>
<script>
	$('.top').on('click', function (e){
		 var children = $(this).parent('li').find('ul').children('li').children('input');
		 if($(this).prop('checked') == true){
			 children.prop('checked',true)
		 }else{
			 children.removeAttr('checked')
		 }
	})
</script>