<div class="modal-dialog">
 <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">添加组别成员</h4>
         </div>
         <form class="form-horizontal" action="{:url('Authmanager/addusertogroup')}"  method="post" role="form" style="margin-top:10px;">
		   
		  <div class="form-group" style="margin-left:10px;">
	   	  <foreach name="users" item="vo">
		   	  <div class="col-sm-8">
		           <input type="checkbox"  name="users[]" value="{$vo.id}" <if condition="$vo['status'] eq 1">checked</if>> {$vo.name}
		      </div>
	      </foreach>
		   </div>
		   	<input type="hidden"  name="groupid" value="{$id}">
   			 <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="submit" class="btn btn-primary sub">确认</button>
         </div>
    </div>
</div>