<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>后台组别列表</title>
  <link rel="stylesheet" href="/public/static/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/public/static/css/bootstrap.min.css"/>
  <script src="/public/static/js/jquery.min.js"></script>
 <script src="/public/static/js/bootstrap.min.js"></script>
 <script src="/public/static/js/amazeui.min.js"></script>
 <script src="/public/static/layer/layer.js"></script>
</head>

<body>
<div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">权限管理</strong>/<small>后台组别列表</small></div>
    </div>
	<div class="tab-content">
            <div class="alert alert-success">在这里，您可以添加、编辑和删除后台组别</div>
     </div>
     <form class="well form-search">
            <a id="addgroup" class="btn btn-primary offsetright"  data-toggle="modal" data-target="#myModal" href="javascript:;">添加组别</a>             
     </form>
    <div class="am-g">
      <div class="am-u-sm-12">
        <table class="am-table am-table-bd am-table-striped admin-content-table">
          <thead>
          <tr>
            <th>ID</th><th widht="50%">组别名称</th><th>管理</th>
          </tr>
          </thead>
          <tbody>
          <foreach name="grouplist" item="vo">
          <tr>
          	<td>{$vo.id}</td>
          	<td width="50%">{$vo.title}</td>
            <td width="30%">

                 <a class="edit am-btn am-btn-success am-btn-xs" data-toggle="modal" data="{$vo.id}"data-target="#myModal" href="javascript:;"><span class="am-icon-edit"></span>&nbsp;编辑组别</a>
                 <a class="addmember am-btn am-btn-warning am-btn-xs" data-toggle="modal" data="{$vo.id}"data-target="#myModal" href="javascript:;"><span class="am-icon-user"></span>&nbsp;分配成员</a>
                 <a class="addauth am-btn am-btn-danger am-btn-xs" data-toggle="modal" data="{$vo.id}" href="javascript:;" data-target="#myModal"><span class="am-icon-cog"></span>&nbsp;分配权限</a>
  
            </td>
          </tr>
          </foreach>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal" role="dialog" aria-hidden="true"></div>
  <!-- content end --> 
</body>
</html>
<script>
$().ready(function(){
	$('#addgroup').click(function(){
		var url = '{:url("Authmanager/addgroup")}';
		$.get(url,function(data){
			if(data.code == '10003'){
				$(".modal-backdrop").remove();
				layer.msg(data.msg);
			}else{
				$('#myModal').html(data);	
			}
		})
	})
	
	$('.edit').click(function(){
		var id = $(this).attr('data');
		var url = '{:url("Authmanager/editgroup")}';
		$.get(url,{id:id},function(data){
			if(data.code == '10003'){
				$(".modal-backdrop").remove();
				layer.msg(data.msg);
			}else{
				$('#myModal').html(data);	
			}
		})
	})
	
	$('.addmember').click(function(){
		var id = $(this).attr('data');
		$.get('{:url("Authmanager/addusertogroup")}',{id:id},function(data){
			if(data.code == '10003'){
				$(".modal-backdrop").remove();
				layer.msg(data.msg);
			}else{
				$('#myModal').html(data);	
			}
		})
	})
	$('.addauth').click(function(){
		var id = $(this).attr('data');
		$.get('{:url("Authmanager/addauthtogroup")}',{id:id},function(data){
			if(data.code == '10003'){
				$(".modal-backdrop").remove();
				layer.msg(data.msg);
			}else{
				$('#myModal').html(data);	
			}
		})
	})

});
	
</script>