<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>后台成员列表</title>
  <link rel="stylesheet" href="/public/static/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/public/static/css/bootstrap.min.css"/>
  <script src="/public/static/js/jquery.min.js"></script>
 <script src="/public/static/js/bootstrap.min.js"></script>
 <script src="/public/static/js/amazeui.min.js"></script>
 <script src="/public/static/layer/layer.js"></script>
</head>

<body>
<div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">权限管理</strong>/<small>后台成员列表</small></div>
    </div>
	<div class="tab-content">
            <div class="alert alert-success">在这里，您可以添加、编辑和删除后台成员</div>
     </div>
     <form class="well form-search">
            <a id="addmenu" class="btn btn-primary offsetright"  data-toggle="modal" data-target="#myModal" href="javascript:;">添加成员</a>             
     </form>
    <div class="am-g">
      <div class="am-u-sm-12">
        <table class="am-table am-table-bd am-table-striped admin-content-table">
          <thead>
          <tr>
            <th>ID</th><th>用户名</th><th>密码</th><th>添加时间</th><th>管理</th>
          </tr>
          </thead>
          <tbody>
          <foreach name="users" item="vo">
          <tr>
          	<td>{$vo.id}</td>
          	<td>{$vo.name}</td>
          	<td>{$vo.password}</td> 
          	<td>{$vo.add_time|date="Y-m-d",###}</td>
            <td>

                  <a class="_edit am-btn am-btn-success am-btn-xs" data-toggle="modal" data="{$vo.id}"data-target="#myModal" href="javascript:;"><span class="am-icon-edit"></span>&nbsp;编辑</a>
                  <a class="_del am-btn am-btn-danger am-btn-xs" data="{$vo.id}" href="javascript:;"><span class="am-icon-trash"></span>&nbsp;删除</a>

            </td>
          </tr>
          </foreach>
          </tbody>
        </table>
        {$users->render();}
      </div>
    </div>
  </div>
  <!-- content end --> 
</body>

<div class="modal fade" id="myModal" role="dialog" aria-hidden="true"></div>
</html>
<script>
$().ready(function(){
	$('#addmenu').click(function(){
		var url = '{:url("Authmanager/adduser")}';
		$.get(url,function(data){
			if(data.code == '10003'){
				$(".modal-backdrop").remove();
				layer.msg(data.msg);
			}else{
				$('#myModal').html(data);	
			}
		})
	})
	
	$('._edit').click(function(){
		var id = $(this).attr('data');
		$.get('{:url("Authmanager/edituser")}',{id:id},function(data){
			if(data.code == '10003'){
				$(".modal-backdrop").remove();
				layer.msg(data.msg);
			}else{
				$('#myModal').html(data);	
			}
		})
	})
	
	$('._del').click(function(){
		var id = $(this).attr('data');
		layer.confirm('确定删除该用户吗?', {
			  icon: 3,
			  skin: 'layer-ext-moon',
			  btn: ['确认','取消'] //按钮
			}, function(){
				$.post('{:url("Authmanager/deluser")}',{id:id},function(data){
					if(data.code == '10000'){
						layer.msg(data.msg);
						_this.parent('td').parent('tr').remove();
					}else if(data.code == '10003'){
						layer.msg(data.msg);
					}else{
						layer.msg(data.msg);
					}
				})
		  });
	})
});
	
</script>