<div class="modal-dialog">
 <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">添加后台菜单</h4>
         </div>
         <form class="form-horizontal" action="{:url('menu/addmenu')}"  method="post" role="form" style="margin-top:10px;">
		   <div class="form-group">
		      <label class="col-sm-2 control-label">父级菜单:</label>
		      <div class="col-sm-8">
		      <select class="form-control" id="fid" name="fid">
		         <option value="0">--顶级菜单--</option>
		         <foreach name="fmenu" item="vo">
		         	<option value="{$vo.id}">--{$vo.menu_name}--</option>
		         </foreach>
		      </select>
		      </div>
		   </div>
		  <div class="form-group">
		      <label class="col-sm-2 control-label"><span class="red">*</span>菜单名称:</label>
		      <div class="col-sm-8">
		         <input class="form-control" id="name" name="menu_name" type="text" placeholder="该输入菜单名称,长度不超过十个字符">
		      </div>
		   </div>
		   <div class="form-group">
		      <label class="col-sm-2 control-label"><span class="red">*</span>菜单链接:</label>
		      <div class="col-sm-8">
		         <input class="form-control" id="link" name="menu_link" type="text" placeholder="该输入菜单链接a/b">
		      </div>
		   </div>
		   <div class="form-group">
		      <label class="col-sm-2 control-label">显示:</label>
		      <div class="col-sm-8">
		         <input type="radio" name="show" id="show" value="1" checked>是
		         <input type="radio" name="show" id="show" value="2"> 否
		      </div>
		   </div>
		   <div class="form-group">
		      <label class="col-sm-2 control-label">菜单排序:</label>
		      <div class="col-sm-4">
		         <input class="form-control" id="sort" name="sort" type="text" placeholder="该输入排序" value="0">
		      </div>
		   </div>               
   			 <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary sub">添加菜单</button>
         </div>
    </div>
</div>
<style>
.red{color:red;}
</style>
<script src="/public/static/layer/layer.js"></script>
<script type="text/javascript">
$(".sub").click(function(){
	var name = $('#name').val();
	var link = $('#link').val();
	var sort = $('#sort').val();
	preg_link = /^[A-Za-z]{1,20}\/[A-za-z\_]{1,20}$/;
	preg_sort = /^[0-9]{1,5}$/;
	if(!name || name.length > 10){
		layer.tips('请输入菜单名称或是名称过长', '#name');
		return;
	}
	
	if(!preg_link.test(link)){
		layer.tips('填入的链接不符合规则', '#link');
		return;
	}
	
	if(!preg_sort.test(sort)){
		layer.tips('必须填写数字且最大不超过五位数', '#sort');
		return;
	}
	
	$('.form-horizontal').submit();
})

</script>