<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>后台组别列表</title>
  <link rel="stylesheet" href="/public/static/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/public/static/css/bootstrap.min.css"/>
  <script src="/public/static/js/jquery.min.js"></script>
  <script src="/public/ueditor/ueditor.config.js"></script>
  <script src="/public/ueditor/ueditor.all.min.js"> </script>
 <script src="/public/static/layer/layer.js"></script>
</head>
  <style>
	#edui1{margin:auto;}
	.red{color:red;}
</style>
<body>
<div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">前台管理</strong>/<small>编辑页面</small></div>
    </div>
	<div class="tab-content">
            <div class="alert alert-success">在这里，您可以编辑单页面</div>
     </div>
     <form class="well form-search"> </form>
    <div class="am-g">
     <form class="form-horizontal" method="post" role="form" style="margin-top:10px;">
    	   <div class="form-group">
		      <label class="col-sm-2 control-label"><span class="red">*</span>页面名称:</label>
		      <div class="col-sm-4">
		        <select class="form-control" id="cid" name="cid">
		         <option value="">--请选择--</option>
		         <foreach name="pageColumn" item="vo">
		         	<option value="{$vo.id}" <if condition="$page['cid'] eq $vo['id']">selected</if>>{$vo.name}</option>
		         </foreach>
		      </select>
		      </div>
		   </div>

		   <div class="form-group">
		      <label for="lastname" class="col-sm-2 control-label"><span class="red">*</span>页面内容</label>
		      <div class="am-form-group am-form-file">
				 <script id="container" name="content" type="text/plain" style="margin:auto;"></script>
			  </div>
		   </div>

		   <div class="form-group">
		      <label class="col-sm-2 control-label"></label>
		      <div class="col-sm-4">
		        <button class="btn btn-primary btn-lg btn-block" onclick="return false;">保&nbsp;&nbsp;存</button>
		      </div>
		   </div>
		   </form>
    </div>
  </div>
</body>
</html>
<script>
var ue = UE.getEditor('container', {
    autoHeight: false,
    initialFrameWidth : 1080,
    initialFrameHeight: 400,
    initialContent:'{$page["content"]}',
});
$('.btn').click(function(){
	
	var cid = $('#cid').val();
	var content = UE.getEditor('container').getContent();
	var id ="{$id}";
	if(cid == ''){
		layer.tips('请选择需要设置的页面', '#cid');
		return;
	}

	if(content.length < 1){
		layer.tips('页面内容必须填写', '#edui1');
		return;
	}

	var url = "{:url('Article/editPage')}";
	
	$.post(url,{cid:cid,content:content,id:id},function(data){
		if(data.code == '10004'){
      		 layer.tips(data.msg, "#"+data.data.name);
      	 }else if(data.code == '10000'){
      		layer.alert(data.msg, {
				  icon: 1,
				  skin: 'layer-ext-moon',
				  closeBtn: 0
				}, function(){window.location.href="{:url('Article/setPageIndex')}"});
      	 }else{
      		  layer.msg(data.msg);
      	}
	});
})	
</script>