<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>后台菜单列表</title>
  <link rel="stylesheet" href="/public/static/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/public/static/css/bootstrap.min.css"/>
  <script src="/public/static/js/jquery.min.js"></script>
  <script src="/public/static/layer/layer.js"></script>
</head>

<body>
<div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">基本管理</strong>/<small>文章列表</small></div>
    </div>
	<div class="tab-content">
            <div class="alert alert-success">在这里，您可以删除文章</div>
    </div>
    <div style="float:right;margin-right:5%;">
    	<button type="button" class="btn btn-success sitemap">生成sitemap</button>
		<button type="button" class="btn btn-info _post">百度推送</button>
	</div>
    <div class="am-g">
     <div class="am-u-sm-12">
        <table class="am-table am-table-bd am-table-striped admin-content-table">
          <thead>
          
          <tr>
           
            <th>ID</th>
            <th>文章标题</th>
            <th>作者</th>
            <th>缩略图</th>
            <th>推荐</th>
            <th>创建时间</th>
            <th>管理</th>
          </tr>
          </thead>
          <tbody>
		<foreach name="article" item="vo">
          <tr>
          <td>{$vo.id}</td>
          <td>{$vo.title}</td>
          <td>{$vo.author}</td>
          <td>
          <if condition="$vo['thumbimg']">
          	<img src='{$vo.thumbimg}' style="width:100px;height:50px;"/>
          	<else/>
          		无
          	</if>
          </td>
           <td>
           <if condition="$vo['is_top'] eq 1">
             <a class="recom am-btn am-btn-default am-btn-xs" data="{$vo.id}-{$vo['is_top']}" href="javascript:;">未推荐</a>
           <else/>
              <a class="recom am-btn am-btn-warning am-btn-xs" data="{$vo.id}-{$vo['is_top']}" href="javascript:;">已推荐</a>
           </if>
           </td>   
          <td>{$vo.create_time|date="Y-m-d",###}</td>
            <td>
	            <a class="edit am-btn am-btn-success am-btn-xs"  data="{$vo.id}" href="javascript:;"><span class="am-icon-edit"></span>&nbsp;编辑</a>
	         	<a class="del am-btn am-btn-danger am-btn-xs"  data="{$vo.id}" href="javascript:;"><span class="am-icon-trash"></span>&nbsp;删除</a>
        	</td>
          </tr>
          </foreach>
          </tbody>
        </table>
      </div>
    </div>
	<div>{$article->render()}</div>
  </div>
  <!-- content end --> 
</body>

</html>
<script>
	$('.recom').click(function(){
		var _this = $(this);
		var id = _this.attr('data');
		var url = "{:url('Article/setRecommend')}";
		var type = 2;//分页文章推荐
		$.post(url,{id:id,type:type},function(data){
			if(data.data.code == 1){
				_this.html('未推荐').removeClass('am-btn-warning').addClass('am-btn-default').attr('data',data.data.data);
			}else if(data.data.code == 2){
				_this.html('已推荐').removeClass('am-btn-default').addClass('am-btn-warning').attr('data',data.data.data);
			}else{
				layer.msg(data.msg);
			}
		})
	})
	//编辑文章
	$('.edit').click(function(){
		var _this = $(this);
		var id = _this.attr('data');
		var url = "{:url('Article/getArticleContent')}";
		$.post(url,{id:id},function(data){
			layer.open({
				  type: 1,
				  title: false,
				  offset:'200px',//距离顶部
				  move:"#myTab",//窗口拖动区域
				  moveType:1,//窗口拖出样式
				  shift:0,//动画效果[0-6]
				  area: ['400px','200px'], //宽高
				  content:data,
			});
		
		})
	})
	//删除文章
	$('.del').click(function(){
		var _this = $(this);
		var id = _this.attr('data');
		var url = "{:url('Article/delArticleContent')}";
		$.post(url,{id:id},function(data){
			if(data.code == '10000'){
				_this.parent('td').parent('tr').remove();
			}else{
				layer.msg(data.msg);
			}
		})
	})
	//生成sitemap
	$('.sitemap').click(function(){
		var url = "{:url('Article/sitemap')}";
		$.get(url,function(data){
			layer.msg(data.msg)
		})
	})
	//推送百度
	$('._post').click(function(){
		var loadIndex = layer.msg('正在推送给百度,请等待...', {
			icon: 16,
			time:100000000000
		});

		var url = "{:url('Article/postUrl')}";
		$.get(url,function(data){
			layer.close(loadIndex);
			layer.msg(data.msg)
		})
	})
</script>