<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>后台菜单栏</title>
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/public/static/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/public/static/css/admin.css">
  <script src="/public/static/js/jquery.min.js"></script>
  <script src="/public/static/js/amazeui.min.js"></script>
</head>
<body style="background:#f3f3f3;">
<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar">
    <ul class="am-list admin-sidebar-list">
      <li class="admin-parent">
        <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span>&nbsp;基本管理<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
          <li><a href="{:url('Common/main')}" target="main"><span class="am-icon-home"></span>&nbsp;后台首页</a></li>
          <li><a href="{:url('Menu/index')}" target="main"><span class="am-icon-arrows-alt"></span>&nbsp;后台菜单</a></li>
          <li><a href="{:url('Friendlylink/index')}" target="main"><span class="am-icon-unlink"></span>&nbsp;友情链接</a></li>
          <li><a href="{:url('Authmanager/userlist')}" target="main"><span class="am-icon-users"></span>&nbsp;用户管理</a></li>
          <li><a href="{:url('index/siteflow')}" target="main"><span class="am-icon-bar-chart"></span>&nbsp;网站流量</a></li>
          <li><a href="{:url('Index/logrecord')}" target="main"><span class="am-icon-paste"></span>&nbsp;日志记录</a></li>
          <li><a href="{:url('Webset/setthirdlogin')}" target="main"><span class="am-icon-qq"></span>&nbsp;第三方登录</a></li>
          <!-- <li><a href="{:url('Routeconfig/index')}" target="main"><span class="am-icon-qq"></span>&nbsp;路由配置</a></li> --> 
        </ul>
      </li>
      <li class="admin-parent">
        <a class="am-cf" data-am-collapse="{target: '#collapse-auth'}"><span class="am-icon-file"></span>&nbsp;权限管理<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
        <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-auth">
          <li><a href="{:url('Authmanager/userlist')}" target="main"><span class="am-icon-user"></span>&nbsp;后台用户</a></li>
          <li><a href="{:url('Authmanager/authgroup')}" target="main"><span class="am-icon-th"></span>&nbsp;后台组别</a></li>
        </ul>
      </li>
      <li class="admin-parent">
        <a class="am-cf" data-am-collapse="{target: '#collapse-front'}"><span class="am-icon-file"></span>&nbsp;前台管理<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
        <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-front">
          <li><a href="{:url('Column/index')}" target="main"><span class="am-icon-users"></span>&nbsp;栏目管理</a></li>
          <li><a href="{:url('Webset/index')}"target="main"><span class="am-icon-cog"></span>&nbsp;网站设置</a></li>
          <li><a href="{:url('Admanager/index')}" target="main"><span class="am-icon-star admin-icon-yellow"></span>&nbsp;广告管理</a></li>
          <li><a href="{:url('webset/setColumnSeo')}" target="main"><span class="am-icon-th"></span>&nbsp;栏目设置</a></li>
          <li><a href="{:url('Article/index')}" target="main"><span class="am-icon-bookmark-o"></span>&nbsp;文章管理</a></li>
          <li><a href="{:url('Article/pArticle')}" target="main"><span class="am-icon-bookmark-o"></span>&nbsp;文章管理(分)</a></li>
          <li><a href="{:url('Collect/index')}" target="main"><span class="am-icon-arrows"></span>&nbsp;采集管理</a></li>
          <li><a href="{:url('Image/index')}" target="main"><span class="am-icon-comments"></span>&nbsp;图片管理</a></li>
          <li><a href="{:url('Article/setPageIndex')}" target="main"><span class="am-icon-file-text"></span>&nbsp;页面管理</a></li>
          <li><a href="{:url('Usermanager/index')}" target="main"><span class="am-icon-file-text"></span>&nbsp;用户管理</a></li>
          <li><a href="{:url('Message/index')}" target="main"><span class="am-icon-comments"></span>&nbsp;留言中心</a></li>
        </ul>
      </li>
      <li><a href="{:url('Datadictionary/index')}" target="main"><span class="am-icon-table"></span>数据字典</a></li>
      <li><a href="admin-form.html"><span class="am-icon-pencil-square-o"></span> 表单</a></li>
      <li><a href="{:url('index/login_out')}"><span class="am-icon-sign-out"></span> 注销</a></li>
    </ul>
    <div class="am-panel am-panel-default admin-sidebar-panel">
      <div class="am-panel-bd">
        <p><span class="am-icon-bookmark"></span> 公告</p>
        <p>时光静好，与君语；细水流年，与君同。—— Amaze</p>
      </div>
    </div>

    <div class="am-panel am-panel-default admin-sidebar-panel">
      <div class="am-panel-bd">
        <p><span class="am-icon-tag"></span> wiki</p>
        <p>Welcome to the Amaze wiki!</p>
      </div>
    </div>
  </div>
</body>
</html>