<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>EasyCMS管理系统</title>
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/public/static/css/amazeui.min.css"/>
    <script src="/public/static/js/jquery.min.js"></script>
  <script src="/public/static/layer/layer.js"></script>
</head>
<body>
<div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">EasyCMS管理系统</strong> / <small>首页</small></div>
    </div>

    <div class="am-g">
      <div class="am-u-md-6">
        <div class="am-panel am-panel-default">
          <div class="am-panel-hd am-cf">系统信息</div>
          <div class="am-panel-bd am-collapse am-in" id="collapse-panel-1">
            <ul class="am-list admin-content-file">
            <foreach name="serverInfo" item="vo" key="k">
              <li>
                <p><strong>{$k}</strong><span style="float:right;">{$vo}</span></p>
              </li>
              </foreach>
              <li>
                <p>
                <strong>缓存清理</strong>
                <span style="float:right;">
                <button class="am-btn am-btn-danger clear">清理缓存</button>
                </span>
                </p>
              </li>
              
              
            </ul>
          </div>
        </div>
        <div class="am-panel am-panel-default">
          <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-2'}">最近访问用户</div>
          <div id="collapse-panel-2" class="am-in">
            <table class="am-table am-table-bd am-table-bdrs am-table-striped am-table-hover">
              <tbody>
              <tr>
                <th>头像</th>
                <th>昵称</th>
                <th>访问时间</th>
              </tr>
              <if condition="$userList">
              <foreach name="userList" item="vo">
              <tr>
                <td class="am-text-center"><img src="{$vo.head_img}" style="width:100px;height:100px;"></td>
                <td>{$vo.name}</td>
                <td>{$vo.last_login_time|date='Y-m-d H:i:s',###}</td>
              </tr>
              </foreach>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="am-u-md-6">
        <div class="am-panel am-panel-default">
          <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-3'}">最近留言<span class="am-icon-chevron-down am-fr" ></span></div>
          <div class="am-panel-bd am-collapse am-in am-cf" id="collapse-panel-3">
            <ul class="am-comments-list admin-content-comment">
              <li class="am-comment">
                <a href="#"><img src="http://amui.qiniudn.com/bw-2014-06-19.jpg?imageView/1/w/96/h/96" alt="" class="am-comment-avatar" width="48" height="48"></a>
                <div class="am-comment-main">
                  <header class="am-comment-hd">
                    <div class="am-comment-meta"><a href="#" class="am-comment-author">某人</a> 评论于 <time>2014-7-12 15:30</time></div>
                  </header>
                  <div class="am-comment-bd"><p>遵循 “移动优先（Mobile First）”、“渐进增强（Progressive enhancement）”的理念，可先从移动设备开始开发网站，逐步在扩展的更大屏幕的设备上，专注于最重要的内容和交互，很好。</p>
                  </div>
                </div>
              </li>

              <li class="am-comment">
                <a href="#"><img src="http://amui.qiniudn.com/bw-2014-06-19.jpg?imageView/1/w/96/h/96" alt="" class="am-comment-avatar" width="48" height="48"></a>
                <div class="am-comment-main">
                  <header class="am-comment-hd">
                    <div class="am-comment-meta"><a href="#" class="am-comment-author">某人</a> 评论于 <time>2014-7-12 15:30</time></div>
                  </header>
                  <div class="am-comment-bd"><p>有效减少为兼容旧浏览器的臃肿代码；基于 CSS3 的交互效果，平滑、高效。AMUI专注于现代浏览器（支持HTML5），不再为过时的浏览器耗费资源，为更有价值的用户提高更好的体验。</p>
                  </div>
                </div>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content end -->
</body>
</html>
<script>
$('.clear').click(function(){
	var url = "{:url('Index/clear_cache')}";
	$.get(url,function(data){
		layer.msg(data.msg);
	})
})
</script>