<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>后台顶部</title>
  <link rel="stylesheet" href="/public/static/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/public/static/css/bootstrap.min.css">
</head>
<script>
function logout(){
		top.location = "{:url('index/login')}";
		return false;
}
</script>
<body>
<header class="am-topbar admin-header">
  <div class="am-topbar-brand">
    <strong>EASY</strong> <small>后台管理系统</small>
  </div>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          <span class="am-icon-user"></span>{$Think.session.user}
        </a>
      </li>
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          <span onclick='logout()'><span class="glyphicon glyphicon-off"></span>&nbsp;注销</span>
        </a>
      </li>
    </ul>
  </div>
</header>
</body>
</html>